@font-face {
	font-family: "TT Norms";
	src: url("../../fonts/TTNorms-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: "TT Norms";
	vertical-align: baseline;
	box-sizing: border-box;
}

*,
::after,
::before {
	box-sizing: border-box;
}

.dropdown-wrapper {
	min-width: 400px;
	display: inline-block;
	position: relative;
}

.dropdown-name {
	display: inline-block;
	font-weight: 600;
	font-size: 1em;
	margin-bottom: 4px;
}

.selectedOptionsPlaceholder {
	font-family: "TT Norms";
	font-size: 16px;
	color: #c1c1c1;
}

.selectedOptions {
	display: flex;
	flex-wrap: wrap;
	padding: 10px;
	row-gap: 8px;
	column-gap: 4px;
}

.selectedOptions:hover,
.dropdown-icon:hover {
	cursor: pointer;
}
.dropdown-icon-open {
	transform: rotate(180deg);
}
.dropdown-icon{
	margin-left: auto;
	margin-right: 10px;
}
.selectedOptions-container {
	display: flex;
	width: 400px;
	min-height: 40px;
	border: 1px solid #c1c1c1;
	border-radius: 10px;
}
.selectedOptions-container:hover{
	cursor: pointer;
}


.dropdown-list {
	overflow-x: hidden;
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
	position: absolute;
	width: 100%;
	max-height: 380px;
	border-radius: 10px;
	margin-top: 10px;
	background: #ffffff;
	box-shadow: 0px 4px 32px rgba(51, 51, 51, 0.15);
	display: none;
}
.dropdown-list::-webkit-scrollbar {
	display: none;

  }
.dropdown-list-open {
	display: block;
}

.selectedOptions-container:focus {
	border: 1px solid grey;
	outline: none;
}

.selectedOption {
	padding: 4px 15px 0px 12px;
	display: flex;
	justify-content: space-between;
	height: 26px;
	background: #f4f4f4;
	border-radius: 10px;
}

.selectedOption:hover {
	background-color: rgb(220, 221, 238);
	transition: 500ms;
}

.selectedOption:focus {
	border: 1px solid grey;
	outline: none;
}

.unselectOption {
	margin-top: 6px;
	margin-left: 11px;
	width: 8px;
	height: 8px;
}

.option {
	width: 100%;
	height: 52px;
	display: flex;
	padding: 16px 14px 14px 18px;
	border-bottom: 1px solid #f4f4f4;
}

.option:hover {
	cursor: pointer;
}

.option-name {
	font-size: 16px;
	margin-left: 10px;
}

.option-icon {
	width: 20px;
	height: 20px;
}

.option-checkbox {
	opacity: 0;
}

.checkbox-container {
	position: relative;
	margin-left: auto;
}

.option-checkbox:checked~.customCheckBox {
	background: #005ffd;
	border: 2px solid #0049d9;
}

.option-checkbox:focus~.customCheckBox {
	border: 2px solid #303133;
}

.option-checkbox:checked~.customCheckBox::after {
	content: url("../../img/tick.svg");
	margin-left: 1.25px;
}

.customCheckBox {
	position: absolute;
	bottom: 0;
	right: 3px;
	width: 22px;
	height: 22px;
	border: 2px solid #c1c1c1;
	border-radius: 4px;
}.option {
	width: 100%;
	height: 52px;
	display: flex;
	padding: 16px 14px 14px 18px;
	border-bottom: 1px solid #f4f4f4;
}

.option:hover {
	cursor: pointer;
}

.option-name {
	font-size: 16px;
	margin-left: 10px;
}

.option-icon {
	width: 20px;
	height: 20px;
}

.option-checkbox {
	opacity: 0;
}

.checkbox-container {
	position: relative;
	margin-left: auto;
}

.option-checkbox:checked~.customCheckBox {
	background: #005ffd;
	border: 2px solid #0049d9;
}

.option-checkbox:focus~.customCheckBox {
	border: 2px solid #303133;
}

.option-checkbox:checked~.customCheckBox::after {
	content: url("../../img/tick.svg");
	margin-left: 1.25px;
}

.customCheckBox {
	position: absolute;
	bottom: 0;
	right: 3px;
	width: 22px;
	height: 22px;
	border: 2px solid #c1c1c1;
	border-radius: 4px;
}